//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1400;
$md1: $maxWidthContainer + 12 + px;
$md2: 992px;
$md3: 768px;
$md4: 480px;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
// Подключаем шрифты ===========================================================================

@font-face {
	font-family: "Aeroport";
	src: url("../fonts/Aeroport.eot");
	src: local("Aeroport"), url("../fonts/Aeroport.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Aeroport.woff2") format("woff2"), url("../fonts/Aeroport.woff") format("woff"),
		url("../fonts/Aeroport.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Aeroport";
	src: url("../fonts/Aeroport-Bold.eot");
	src: local("Aeroport Bold"), local("Aeroport-Bold"),
		url("../fonts/Aeroport-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Aeroport-Bold.woff2") format("woff2"), url("../fonts/Aeroport-Medium.woff") format("woff"),
		url("../fonts/Aeroport-Medium.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Aeroport";
	src: url("../fonts/Aeroport-Medium.eot");
	src: local("Aeroport Medium"), local("Aeroport-Medium"),
		url("../fonts/Aeroport-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Aeroport-Medium.woff2") format("woff2"), url("../fonts/Aeroport-Medium.woff") format("woff"),
		url("../fonts/Aeroport-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Regular.eot");
	src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
		url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/ProximaNova-Regular.woff") format("woff"),
		url("../fonts/ProximaNova-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Light.eot");
	src: local("Proxima Nova Light"), local("ProximaNova-Light"),
		url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Semibold.eot");
	src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
		url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/ProximaNova-Semibold.woff") format("woff"),
		url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
$fontFamily: "Proxima Nova", sans-serif;
// Подключили===================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: $minWidth;
}

body {
	line-height: 1;
	font-family: $fontFamily;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: $fontFamily;
}
input::-ms-clear {
	display: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
//</ЦВЕТА>==============================================================================================================
$color1: #ec258f;
$color2: #4e527b;
$color3: #d26fa4;

//</ЦВЕТА>==============================================================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	font-family: "Aeroport";
	font-weight: bold;
	color: $color1;
	line-height: 110%;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================
.wrapper-bg-2 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -3;
	width: 100%;
	height: 32%;
	img {
		width: 100%;
		height: 100%;
		@media (max-width: 1600px) {
			object-fit: cover;
		}
	}
}
//gj
.wrapper-bg-1 {
	position: absolute;
	top: -30%;
	left: 0;
	z-index: -3;
	width: 100%;
	height: 220%;
	img {
		width: 100%;
		height: 100%;
		@media (max-width: 1350px) {
			object-fit: cover;
		}
	}
}

.regular {
	font-family: $fontFamily;
	font-size: 18px;
	line-height: 156%;
	color: #4e527b;
	@media (max-width: $md3) {
		font-size: 16px;
	}
	@media (max-width: $md3) {
		font-size: 14px;
	}
}
.btn {
	font-family: "Aeroport";
	font-weight: bold;
	display: inline-block;
}
.s-title {
	font-size: 48px;
	@media (max-width: $md2) {
		font-size: 40px;
	}
	@media (max-width: $md3) {
		font-size: 34px;
	}
	@media (max-width: $md4) {
		font-size: 28px;
	}
}
.s-link {
	color: $color1;
	position: relative;
	font-weight: bold;
	font-family: "Aeroport";
	font-size: 18px;
	@media (max-width: $md3) {
		font-size: 16px;
	}
	@media (max-width: $md4) {
		font-size: 14px;
	}
	&::after {
		content: "";
		position: absolute;
		margin-left: 20px;
		top: 50%;
		transform: translate(0, -50%);
		mask: url("../img/svg/arrow-right-2.svg") center / contain no-repeat;
		width: 15px;
		height: 13px;
		background-color: $color1;
	}
}
.over-text {
	font-size: 24px;
	line-height: 108%;
	color: #bfbfbf;
	font-family: "Proxima Nova";
	@media (max-width: $md3) {
		font-size: 20px;
	}
	@media (max-width: $md4) {
		font-size: 18px;
	}
}

.container-2 {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
	background-color: rgb(250, 247, 242);
	background: url("../img/hero-page__bg.png") 0 0 / cover no-repeat;
	&__body {
		padding: 13px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 18px;
		border-bottom: 1px solid #ebebeb;
		position: relative;
		@media (max-width: $md3) {
			padding: 8px;
		}
	}

	&__logo {
		flex: 0 0 204px;
		display: flex;
		align-items: center;
		img {
			max-width: 100%;
			object-fit: contain;
		}
		@media (max-width: 1050px) {
			flex: 0 0 150px;
		}
		@media (max-width: $md3) {
			flex: 0 0 120px;
		}
	}

	&__burger {
		display: none;
	}

	&__list {
		display: flex;
		align-items: center;
		margin: 0 -17.5px;
	}

	&__link {
		margin: 0 17.5px;
		white-space: nowrap;
		color: #747474;
		transition: 0.2s;

		&:hover {
			color: $color1;
		}
	}
	&__link.active {
		color: $color1;
	}
	&__btn {
		display: inline-block;
		padding: 13px 21px;
		color: $color1;
		border: 2px solid $color1;
		font-weight: 500;
		border-radius: 50px;
		transition: 0.2s;
		white-space: nowrap;
		@media (max-width: 1250px) {
			display: none;
		}
		&:hover {
			background: $color1;
			color: white;
		}
	}
	&__flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 1500px) {
			flex-direction: column;
		}
	}
}

.tel {
	display: flex;
	align-items: center;
	color: #747474;
	transition: 0.2s;
	white-space: nowrap;
	margin: 0 27px 0 0;
	position: relative;
	&:hover {
		color: $color1;
	}
	&__img {
		margin-right: 18px;
	}
	@media (max-width: 1500px) {
		margin: 0 0 15px 0;
		&__img {
			margin-right: 13px;
		}
	}
	@media (max-width: 1250px) {
		margin: 0 0 0 15px;
		&__img {
			margin: 0;
			border: 1px solid $color1;
			border-radius: 50%;
			padding: 10px;
			transition: 0.2s;
			background: white;
			&:hover {
				transform: scale(1.1);
			}
		}
		span {
			max-width: 0;
			opacity: 0;
			transition: 0.5s;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
		&.active {
			.tel__img {
				position: relative;
				z-index: 10;
				transform: translate(-162px, 0);
				transition: 0.5s;
				img {
					animation: roll 1s 0s 1;
				}
			}
			span {
				line-height: 180%;
				max-width: 180px;
				padding: 0 10px 0 25px;
				opacity: 1;
				color: white;
				border-radius: 20px;
				background: $color1;
			}
		}
	}
}
@keyframes roll {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@media (max-width: $md2) {
	body.lock {
		overflow: hidden;
	}
	.header__flex {
		flex-direction: row;
	}
	.tel {
		margin: 0 25px 0 0;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 50;
	}
	.header__burger span {
		position: absolute;
		background-color: #747474;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #747474;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #f8f9fb;
		padding: 120px 10px 20px 10px;
		max-width: 300px;
		box-shadow: -10px 0 10px rgba(255, 255, 255, 0.226);
	}

	.header__menu.active {
		right: 0;
	}

	.header__list {
		display: flex;
		flex-direction: column;
		align-items: start;
		margin: 0;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
		transition: 0.2s;
		&:hover {
			transform: translate(5px, 0);
		}
	}
	.header__link {
		font-size: 24px;
	}
	.header__gray {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.253);
		visibility: hidden;
		z-index: 0;
		opacity: 0;
		transition: 0.3s;
	}
	.header__gray.active {
		visibility: visible;
		opacity: 1;
	}
}

//===================================hero-page==========================
.fullscreen {
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.hero-page {
	position: relative;
	background-color: rgb(250, 247, 242);
	background: url("../img/hero-page__bg.png") 0 0 /100% 100% no-repeat;
	@media (max-width: $md2) {
		background-position: center center;
		background-size: 300% 100%;
	}
	&__body {
		display: flex;
		align-items: center;
		padding: 160px 0 280px 0;
		@media (max-width: $md2) {
			flex-direction: column;
		}
	}

	&__left {
		flex: 0 0 50%;
		@media (max-width: $md2) {
			margin-bottom: 40px;
		}
	}
	&__right {
		flex: 0 1 50%;
		position: relative;
	}
	&__over-title {
		font-family: "Aeroport";
		font-size: 24px;
		line-height: 120%;
		color: $color3;
		@media (max-width: $md3) {
			font-size: 18px;
		}
		@media (max-width: $md3) {
			font-size: 15px;
		}
	}

	&__title {
		font-size: 134.539px;
		line-height: 135px;
		line-height: 100%;
		margin-bottom: 73px;
		@media (max-width: 1610px) {
			font-size: 100px;
			margin-bottom: 60px;
		}
		@media (max-width: $md3) {
			font-size: 60px;
			margin-bottom: 40px;
		}
		@media (max-width: $md4) {
			font-size: 50px;
			margin-bottom: 40px;
		}
	}

	&__btn {
		background: #ec258f;
		box-shadow: 0px 20px 40px rgba(185, 0, 98, 0.13);
		border-radius: 69px;
		color: white;
		padding: 16px 46px;
		padding: 1.2em 2.9em;
		transition: 0.2s;
		font-size: 18px;
		&:hover {
			transform: scale(1.07);
		}
		&:active {
			box-shadow: 0px 10px 15px rgba(185, 0, 98, 0.23);
		}
		@media (max-width: $md3) {
			font-size: 15px;
			padding: 1em 2.5em;
		}
		@media (max-width: $md4) {
			font-size: 12px;
		}
	}
}
.ellipse-1 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 70%;
	transform: translate(-20%, -45%);
}
.ellipse-2 {
	position: absolute;
	width: 55%;
	top: 0;
	right: 0;
}
.ice-cream {
	display: flex;
	position: relative;
	@media (max-width: $md2) {
		justify-content: center;
		max-width: 550px;
	}
}
.ice-cream img {
	object-fit: contain;
	position: relative;
	max-width: 100%;
	transition: transform 0.4s;

	&:nth-child(1) {
		z-index: 2;
		margin-right: -80px;
		margin-bottom: -120px;
		animation: rotate1 4s 0s infinite;
		width: 40%;
		@media (max-width: $md4) {
			margin-right: -50px;
			margin-bottom: -100px;
		}
	}
	&:nth-child(2) {
		z-index: 3;
		animation: rotate2 2s 0s infinite;
		width: 50%;
	}
	&:nth-child(3) {
		z-index: 2;
		margin-left: -105px;
		margin-bottom: -150px;
		width: 45%;
		animation: rotate3 5s 0s infinite;
		filter: drop-shadow(-18px 24px 60px rgba(0, 0, 0, 0.15));
		@media (max-width: $md4) {
			margin-left: -80px;
			margin-bottom: -120px;
		}
	}
}
@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes rotate2 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes rotate3 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.pointer {
	cursor: pointer;
	position: absolute;
	bottom: 160px;
	left: 50%;
	transform: translate(-50%, 50%);
	img:nth-child(1) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	img:nth-child(2) {
		animation: roll2 4s 0s infinite;
	}
	@media (max-width: $md3) {
		width: 160px;
		height: 160px;
		img {
			object-fit: contain;
			max-width: 100%;
		}
		img:nth-child(1) {
			max-width: 30%;
		}
	}
}
@keyframes roll2 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.DIY-slider {
	@media (max-width: $md3) {
		margin: 0 auto;
		max-width: 400px;
	}
	&__wrapper {
		position: relative;
		max-width: 526px;
		height: 728px;
		@media (max-width: $md2) {
			height: 500px;
		}
		@media (max-width: $md3) {
			margin: 0 20px;
			height: 0;
			padding-top: 116%;
		}
		@media (max-width: $md4) {
			height: 350px;
		}
	}

	&__slide {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: 0.4s;
		background: url("../img/preloader.gif") center / 50px no-repeat;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		transform-origin: bottom left;
	}
	&__slide.next-active {
		z-index: 1;
		opacity: 1;
		transform: rotate(-20deg) scale(0.75) translate(5%, -5%);
	}
	&__slide.active {
		z-index: 2;
		opacity: 1;
		animation: next-slide 0.4s ease 0s 1;
	}
}
@keyframes next-slide {
	0% {
		transform: rotate(-20deg) scale(0.75) translate(5%, -5%);
	}
	100% {
		transform: rotate(0) scale(1) translate(0, 0);
	}
}
.DIY-slider__heart {
	position: absolute;
	top: -15%;
	left: 20%;
	z-index: -1;
	@media (max-width: $md3) {
		display: none;
	}
}
.DIY-slider__circle {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(30%, -30%);
	width: 70%;
	z-index: -1;
	padding-top: 70%;
	background: #b90062;
	border-radius: 50%;
	opacity: 0.03;
}
.DIY-slider-btn-next.active {
	display: block;
	&:hover {
		transform: translate(50%, -50%) scale(1.1);
	}
	&:active {
		transform: translate(50%, -50%) scale(1);
	}
}
.DIY-slider-btn-next {
	display: none;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(50%, -50%);
	z-index: 3;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	transition: 0.2s;
	background: $color1 url("../img/svg/arrow-right.svg") center no-repeat;
	cursor: pointer;
	@media (max-width: $md3) {
		width: 50px;
		height: 50px;
	}
}
.about {
	position: relative;
	padding: 200px 0;
	@media (max-width: $md2) {
		padding-top: 100px;
	}
	@media (max-width: $md3) {
		padding-top: 60px;
	}
	&__body {
		display: flex;
		align-items: center;
		@media (max-width: $md3) {
			flex-direction: column-reverse;
		}
	}
	&__left {
		flex: 0 1 50%;
		padding-right: 50px;
		@media (max-width: $md3) {
			padding-right: 0;
			width: 100%;
			margin-top: 30px;
		}
	}

	&__right {
		flex: 0 0 50%;
	}
	&__text {
		max-width: 527px;
	}

	&__title {
		margin-bottom: 35px;
		@media (max-width: $md3) {
			margin-bottom: 25px;
		}
	}
}
.ice-cream-bg-1 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	img {
		max-width: 100%;
		object-fit: contain;
	}
	transform: translate(50%, 0);
	filter: drop-shadow(0px 55px 154px rgba(0, 0, 0, 0.07)) drop-shadow(0px 22.9777px 107.01px rgba(0, 0, 0, 0.0503198))
		drop-shadow(0px 12.285px 68.1076px rgba(0, 0, 0, 0.0417275))
		drop-shadow(0px 6.88685px 39.559px rgba(0, 0, 0, 0.035))
		drop-shadow(0px 3.65756px 19.4696px rgba(0, 0, 0, 0.0282725))
		drop-shadow(0px 1.52199px 6.5815px rgba(0, 0, 0, 0.0196802));
	@media (max-width: $md2) {
		width: 200px;
		height: 200px;
	}
	@media (max-width: $md4) {
		width: 150px;
		height: 150px;
	}
}
.ice-cream-bg-2 {
	position: absolute;
	top: 0;
	right: 220px;
	padding: 0 0 5px 15px;
	background: url("../img/svg/pyatno.svg") bottom left no-repeat;
	@media (max-width: $md2) {
		display: none;
	}
}
.omnibus {
	position: absolute;
	bottom: 0;
	right: 64px;
	z-index: -1;
	img {
		max-width: 100%;
		object-fit: contain;
	}
	@media (max-width: 1900px) {
		width: 500px;
	}
	@media (max-width: $md2) {
		right: 0;
		width: 400px;
		transform: rotate(10deg) translate(50%, 0);
	}
	@media (max-width: $md3) {
		bottom: 20px;
		width: 250px;
	}
}
.dotted-line {
	position: absolute;
	bottom: 20px;
	right: 0;
	max-width: 1790px;
	width: 100%;
	z-index: -2;
	@media (min-width: 3100px) {
		display: none;
	}
	@media (max-width: $md2) {
		bottom: 0;
	}
}

.franchise {
	position: relative;
	&__title {
		margin-bottom: 32px;
	}

	&__description {
		margin-bottom: 3px;
	}

	&__pink-text {
		color: $color1;
		font-weight: 600;
		font-family: "Proxima Nova";
		font-size: 18px;
		line-height: 167%;
		@media (max-width: $md3) {
			font-size: 15px;
		}
		margin-bottom: 45px;
	}
}
.franchise {
	margin-bottom: 150px;
	@media (max-width: $md3) {
		margin-bottom: 100px;
	}
	@media (max-width: $md4) {
		margin-bottom: 80px;
	}
	&__items {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 0 -16px;
		@media (max-width: $md3) {
			flex-direction: column;
			align-items: center;
			margin: -16px 0;
		}
	}

	&__item {
		flex: 0 1 33.333%;
		max-width: 432px;
		margin: 0 16px;
		padding: 30px;
		background: white;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		transition: 0.2s;
		@media (max-width: $md2) {
			padding: 20px;
		}
		@media (max-width: $md3) {
			margin: 16px 0;
			max-width: 352px;
		}
		&:hover {
			box-shadow: 0px 61px 80px rgba(115, 10, 110, 0.07), 0px 1.88474px 15.1373px rgba(115, 10, 110, 0.035);
			.franchise__item-title {
				color: $color1;
			}
		}
	}

	&__item-img {
		margin-bottom: 22px;
	}
	&__item-title {
		font-size: 24px;
		margin-bottom: 18px;
		color: $color2;
		transition: 0.2s;
		@media (max-width: $md2) {
			font-size: 20px;
		}
	}

	&__item-text {
		height: 290px;
		overflow: auto;
		@media (max-width: $md2) {
			height: 250px;
		}
		@media (max-width: $md3) {
			height: 180px;
		}
		&::-webkit-scrollbar {
			background: rgb(216, 216, 216);
			width: 2px;
			border-radius: 2px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color2;
			border-radius: 2px;
		}
	}

	&__item-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
		padding: 10px 0 24px 0;
		img {
			position: relative;
			z-index: 2;
		}
		span {
			font-weight: bold;
			font-size: 18px;
			color: $color3;
			position: relative;
			transition: 0.2s;
			@media (max-width: $md4) {
				font-size: 15px;
			}
		}
		span::after {
			content: "";
			position: absolute;
			margin-left: 20px;
			top: 50%;
			transform: translate(0, -50%);
			mask: url("../img/svg/arrow-right-2.svg") center / contain no-repeat;
			width: 15px;
			height: 13px;
			background-color: $color3;
			transition: 0.2s;
		}
		&:hover {
			span {
				color: $color1;
			}
			span::after {
				background-color: $color1;
			}
			.telephone-hover {
				transform: translate(25%, 10%);
			}
		}
		.telephone-hover {
			width: 146px;
			height: 146px;
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translate(100%, 100%);
			border-radius: 50%;
			background: $color1;
			transition: 0.2s;
		}
	}
}
.franchise__easy-bg {
	position: absolute;
	top: 50%;
	left: -8%;
	z-index: -1;
	transform: translate(0, -50%);
	@media (max-width: 1400px) {
		display: none;
	}
	@media (max-width: $md3) {
		display: block;
		left: 0;
		img {
			width: 100px;
		}
	}
}
.franchise__comf-bg {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	transform: translate(100%, -50%);
	@media (max-width: 1400px) {
		display: none;
	}
	@media (max-width: $md3) {
		display: block;
		transform: translate(15%, -20%);
		z-index: 2;
		img {
			width: 100px;
		}
		pointer-events: none;
	}
}

.card {
	padding-bottom: 110px;
	@media (max-width: $md3) {
		padding-bottom: 80px;
	}
	@media (max-width: $md4) {
		padding-bottom: 60px;
	}
	&__body {
		padding: 50px 166px 44px 64px;
		background: #ffecf8 url("../img/card-bg.png") center / cover no-repeat;
		border-radius: 10px;
		@media (max-width: $md2) {
			padding: 35px 44px;
		}
		@media (max-width: $md3) {
			padding: 32px 40px;
		}
		@media (max-width: $md4) {
			padding: 28px 26px;
		}
	}

	&__title {
		font-size: 30px;
		margin-bottom: 34px;
		@media (max-width: $md3) {
			font-size: 24px;
			margin-bottom: 24px;
		}
		@media (max-width: $md4) {
			font-size: 22px;
			margin-bottom: 18px;
		}
	}

	&__block {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2) {
			display: block;
		}
	}

	&__text {
		margin-right: 70px;
		@media (max-width: $md2) {
			margin: 0 0 20px 0;
		}
	}

	&__btn {
		padding: 17.5px 54px;
		height: fit-content;
		color: white;
		background: $color1;
		font-size: 18px;
		white-space: nowrap;
		margin-top: auto;
		box-shadow: 0px 61px 80px rgba(115, 10, 110, 0.07), 0px 1.88474px 15.1373px rgba(115, 10, 110, 0.035);
		border-radius: 50px;
		transition: 0.2s;
		&:hover {
			transform: scale(1.05);
		}
		@media (max-width: $md3) {
			font-size: 16px;
			padding: 14px 40px;
		}
	}
}
.gallery {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 250px;
	@media (max-width: $md2) {
		padding-bottom: 180px;
	}
	@media (max-width: $md3) {
		padding-bottom: 100px;
	}
	@media (max-width: $md4) {
		padding-bottom: 80px;
	}
	overflow: hidden;
	&__body {
		text-align: center;
		margin-bottom: 75px;
		@media (max-width: $md3) {
			margin-bottom: 60px;
		}
		@media (max-width: $md4) {
			margin-bottom: 45px;
		}
	}

	&__title {
		margin-bottom: 35px;
		@media (max-width: $md3) {
			margin-bottom: 25px;
		}
		@media (max-width: $md4) {
			margin-bottom: 15px;
		}
	}

	&__subtitle {
		max-width: 568px;
		margin: 0 auto;
	}
}
.slider-container {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	padding: 0 40px;
	@media (max-width: $md3) {
		padding: 0 20px;
	}
}
.image-slider__wrapper {
	align-items: center;
}
.image-slider {
	overflow: visible;
	display: flex;
	height: 728px;
	@media (max-width: $md2) {
		height: 600px;
	}
	@media (max-width: $md3) {
		height: 500px;
	}
	@media (max-width: $md4) {
		height: 300px;
	}
}
.image-slider__image {
	text-align: center;
	height: 100%;
	background: url("../img/preloader.gif") center / 50px no-repeat;
}
.image-slider__image img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.image-slider__slide {
	position: relative;
	height: 84%;
	transition: 0.4s;
}

.swiper-slide-active,
.swiper-slide-active + .image-slider__slide + .image-slider__slide {
	height: 100%;
	.img-slider-btn-next {
		display: block;
	}
	@media (max-width: $md3) {
		.img-slider-btn-next {
			opacity: 1;
			visibility: visible;
		}
	}
	&:hover {
		.img-slider-btn-next {
			opacity: 1;
			visibility: visible;
		}
	}
}

.img-slider-btn-next {
	opacity: 0;
	visibility: hidden;
	background: $color1 url("../img/svg/arrow-right.svg") center no-repeat;
	width: 80px;
	cursor: pointer;
	height: 80px;
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 0;
	border-radius: 50%;
	transition: 0.2s;
	@media (max-width: $md3) {
		width: 50px;
		height: 50px;
	}
	transform: translate(50%, -50%);
	&:hover {
		transform: translate(50%, -50%) scale(1.1);
	}
	&:active {
		transform: translate(50%, -50%) scale(1);
	}
}
.swiper-button-disabled {
	filter: opacity(0.5);
	cursor: unset;
	&:hover {
		transform: translate(50%, -50%) scale(1);
	}
}
.dealership {
	padding-bottom: 190px;
	@media (max-width: $md2) {
		padding-bottom: 150px;
	}
	@media (max-width: $md3) {
		padding-bottom: 90px;
	}
	@media (max-width: $md4) {
		padding-bottom: 70px;
	}
	&__body {
		position: relative;
		background: $color1;
		border-radius: 10px;
		padding: 65px;
		display: flex;
		@media (max-width: 1150px) {
			padding: 50px;
		}
		@media (max-width: $md2) {
			flex-direction: column;
		}
		@media (max-width: $md3) {
			padding: 30px;
		}
		@media (max-width: $md4) {
			padding: 25px;
		}
	}

	&__left {
		flex: 0 0 50%;
	}
	&__right {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		color: white;
		margin-bottom: 50px;
		@media (max-width: $md3) {
			margin-bottom: 30px;
		}
		@media (max-width: $md4) {
			margin-bottom: 20px;
		}
	}

	&__text {
		color: white;
	}

	&__images {
		display: flex;
		margin-top: -60px;
		margin-bottom: 50px;
		@media (max-width: $md2) {
			margin-top: 70px;
			margin-bottom: 40px;
		}
		img {
			max-width: 100%;
			object-fit: contain;
		}
	}

	&__img-1 {
		position: relative;
		z-index: 2;
		margin-right: -80px;
		margin-top: -50px;
		filter: drop-shadow(0px 37.1304px 29.7043px rgba(0, 0, 0, 0.0513834));
		animation: rotate1 4s 0s infinite;
	}

	&__img-2 {
		position: relative;
		z-index: 1;
		filter: drop-shadow(0px 25.605px 29.7043px rgba(0, 0, 0, 0.0431313));
		animation: rotate3 5s 0s infinite;
	}

	&__btn {
		border-radius: 69px;
		background: white;
		color: $color1;
		padding: 16px 58px;
		white-space: nowrap;
		@media (max-width: $md3) {
			padding: 14px 48px;
		}
		@media (max-width: $md4) {
			padding: 12px 40px;
		}
		transition: 0.2s;
		&:hover {
			transform: scale(1.05);
		}
	}
}
.dealership__bg-1 {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-40%, -30%);
	width: 27%;
	height: 0;
	padding-top: 27%;
	border-radius: 50%;
	background: #b90062;
	opacity: 0.05;
}
.dealership__bg-2 {
	position: absolute;
	bottom: 20px;
	right: -20%;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	background: #b90062;
	opacity: 0.05;
}

.catering {
	padding-bottom: 180px;
	@media (max-width: $md2) {
		padding-bottom: 140px;
	}
	@media (max-width: $md3) {
		padding-bottom: 90px;
	}
	@media (max-width: $md4) {
		padding-bottom: 70px;
	}
	&__body {
		display: flex;
		align-items: center;
		@media (max-width: $md3) {
			flex-direction: column-reverse;
		}
	}

	&__left {
		flex: 0 0 50%;
	}
	&__right {
		flex: 0 0 50%;
	}
	&__images {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding-top: 160px;
		max-width: 540px;
		margin-right: 45px;
		img {
			max-width: 100%;
			object-fit: contain;
		}
		@media (max-width: $md3) {
			max-width: 300px;
			padding-top: 120px;
		}
	}
	&__rectangle {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -40%);
		width: 100%;
		height: 0;
		padding-top: 100%;
	}
	&__img-1 {
		position: relative;
		z-index: 1;
		transform: rotate(-10deg);
		margin-right: -150px;
		margin-top: -160px;
	}

	&__img-2 {
		position: relative;
		z-index: 2;
		transform: rotate(10.41deg);
		filter: drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198));
	}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		margin-bottom: 30px;
	}
}

.s-rectangle {
	position: absolute;
	border-radius: 50%;
	background: #b90062;
	opacity: 0.05;
}

.production {
	&__head {
		display: flex;
		@media (max-width: $md3) {
			flex-direction: column;
		}
		margin-bottom: 100px;
	}

	&__left {
		flex: 0 0 50%;
	}

	&__title {
		margin-right: 20px;
		@media (max-width: $md3) {
			margin-bottom: 20px;
		}
	}

	&__right {
		flex: 0 0 50%;
	}

	&__text {
		margin-bottom: 10px;
	}
}
.production {
	padding-bottom: 200px;
	@media (max-width: $md2) {
		padding-bottom: 160px;
	}
	@media (max-width: $md3) {
		padding-bottom: 120px;
	}
	@media (max-width: $md4) {
		padding-bottom: 80px;
	}
	&__items {
		position: relative;
		display: flex;
		margin: -16px;
		justify-content: center;
		@media (max-width: 1250px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md4) {
			flex-direction: column;
			margin: -20px 0;
		}
	}
	&__rectangle {
		top: 0;
		right: 0;
		width: 35%;
		padding-top: 35%;
		height: 0;
		transform: translate(10%, -15%);
		z-index: -1;
	}
}
.production-item {
	background: white;
	border-radius: 10px;
	flex: 0 1 25%;
	margin: 16px;
	@media (max-width: $md4) {
		margin: 20px 0;
	}
	border-radius: 10px;
	box-shadow: 0px 20px 50px rgba(115, 10, 110, 0.03), 0px 1.88474px 10px rgba(115, 10, 110, 0.035);
	@media (max-width: 1250px) {
		flex: 0 1 40%;
	}
	@media (max-width: $md3) {
		flex: 0 1 45%;
		margin: 12px;
	}
	&__head {
		background: #ffe5f3;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 30px;
		height: 147px;
		position: relative;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		@media (max-width: $md3) {
			height: 110px;
			padding-left: 20px;
		}
	}

	&__name {
		font-size: 22px;
		width: 50%;
		@media (max-width: $md3) {
			font-size: 18px;
			width: 40%;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		img {
			max-width: 100%;
			object-fit: contain;
		}
	}

	&__content {
		padding: 51px 30px 41px 30px;
		@media (max-width: $md3) {
			padding: 30px 20px;
		}
	}

	&__text {
		height: 168px;
		overflow: auto;
		margin-bottom: 40px;
		@media (max-width: $md3) {
			height: 140px;
		}
		@media (max-width: $md3) {
			margin-bottom: 30px;
		}
		&::-webkit-scrollbar {
			background: rgb(216, 216, 216);
			width: 2px;
			border-radius: 2px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color2;
			border-radius: 2px;
		}
	}

	&__link {
		@media (max-width: $md3) {
			font-size: 15px;
		}
	}
}
.container-3 {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
	@media (max-width: $md3) {
		padding: 0 15px;
	}
}

.delivery {
	padding-bottom: 170px;
	@media (max-width: $md3) {
		padding-bottom: 120px;
	}
	@media (max-width: $md4) {
		padding-bottom: 80px;
	}
	&__body {
		display: flex;
		align-items: center;
	}

	&__left {
		flex: 0 0 31%;
		margin-right: 70px;
		@media (max-width: 1400px) {
			margin-right: 50px;
		}
		@media (max-width: 1250px) {
			flex: 0 0 22%;
			margin-right: 40px;
		}
		@media (max-width: $md2) {
			display: none;
		}
	}

	&__images {
		overflow: hidden;
		img {
			object-fit: contain;
		}
	}
	&__images-row-1 {
		display: flex;
		align-items: flex-end;
		margin-bottom: 16px;
		img:nth-child(1) {
			width: 45%;
			margin-right: 16px;
		}
		img:nth-child(2) {
			width: 55%;
		}
	}

	&__images-row-2 {
		display: flex;
		align-items: flex-start;
		img:nth-child(1) {
			width: 30%;
			margin-right: 16px;
		}
		img:nth-child(2) {
			width: 70%;
		}
	}

	&__right {
		flex: 1 1 auto;
	}

	&__title {
		font-size: 48px;
		margin-bottom: 0.73em;
		@media (max-width: $md3) {
			font-size: 35px;
		}
		@media (max-width: $md4) {
			font-size: 28px;
		}
	}

	&__text {
		margin-bottom: 2em;
		max-width: 800px;
	}

	&__items {
		margin: -5px 0;
		@media (max-width: $md3) {
			margin: -20px 0;
		}
		@media (max-width: $md4) {
			margin: -15px 0;
		}
	}
	&__row {
		display: flex;
		margin: 5px -19px;
		@media (max-width: $md3) {
			margin: 20px -19px;
		}
		@media (max-width: $md4) {
			margin: 15px -10px;
		}
	}
	&__item {
		flex: 0 1 50%;
		margin: 0 19px;
		border-radius: 10px;
		display: flex;
		overflow: hidden;
		cursor: pointer;
		transition: 0.2s;
		max-width: 482px;
		@media (max-width: $md3) {
			flex-direction: column;
			position: relative;
		}
		@media (max-width: $md4) {
			margin: 0 10px;
		}
		&:hover {
			background: white;
			box-shadow: 0px 40px 80px rgba(115, 10, 110, 0.07), 0px 1.88474px 10px rgba(115, 10, 110, 0.035);
			transform: scale(1.05);
			.delivery__item-tel {
				opacity: 1;
			}
		}
	}
	&__item-body {
		display: flex;
		padding: 17px 0 17px 17px;
		font-size: 18px;
		align-items: center;
		@media (max-width: 1300px) {
			font-size: 16px;
			padding: 13px 0 13px 13px;
		}
		@media (max-width: $md3) {
			flex-direction: column;
			text-align: center;
			padding: 10px;
		}
		@media (max-width: $md4) {
			font-size: 14px;
		}
	}
	&__icon {
		width: 84px;
		height: 84px;
		margin-right: 25px;
		@media (max-width: 1300px) {
			width: 70px;
			height: 70px;
		}
		@media (max-width: $md3) {
			margin: 0 0 15px 0;
		}
	}

	&__item-text {
		font-family: "Aeroport";
		font-weight: 500;
		line-height: 156%;
		color: #4e527b;
		margin-right: 10px;
		@media (max-width: $md3) {
			margin-right: 0;
		}
	}
	&__item-tel {
		opacity: 0;
		background: $color1;
		min-height: 100%;
		display: flex;
		align-items: center;
		padding: 17px;
		transition: 0.2s;
		margin-left: auto;
		@media (max-width: 1300px) {
			padding: 12px;
		}
		@media (max-width: $md3) {
			position: absolute;
			min-height: unset;
			border-radius: 50%;
			padding: 30px 30px 15px 15px;
			top: -20px;
			right: -20px;
		}
	}
}

.footer {
	background: #fffdfa;
	position: relative;
	z-index: 2;
	&__body {
		max-width: 1500px;
		padding: 35px 20px;
		@media (max-width: $md3) {
			padding: 25px 15px;
		}
		@media (max-width: $md4) {
			padding: 15px 10px;
		}
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__text {
		margin-right: 15px;
	}
	&__links {
		display: flex;
		align-items: center;
		margin: 0 -10px;
	}
}
.socity {
	margin: 0 10px;
	width: 32px;
	height: 32px;
	border: 1px solid transparent;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 7.4px;
	&:hover {
		border: 1px solid $color1;
	}
}
